server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
gateway:
  frontend:
    uri: http://react-app:3000
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: sales-service
          uri: http://tickets-app:4000 
          predicates:
            - Path=/events/**, /sales/**, /users/**